header{
    padding: 20px;
}

#title{
    font-family: "Covered By Your Grace", "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #d9e4d9;
    border-radius: 30px;
}

.input-form {
    display: flex;
    line-height:2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 10px;
}

.label-title {
    width: 15%;
    padding-top: 10px;
}

.user-input {
    width: 85%;
    padding-top: 10px;
}

.meme{
    display: inline-block;
    position:relative;
    width: 300px;
    height: 200px;
    padding: 20px;;
}

#top{
    position: absolute;
    top: 10%;
    left: 50%;
    text-align:center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-family:Impact, Charcoal, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 200%;
}

#bottom{
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-family:Impact, Charcoal, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 200%;
}

#memephoto{
    position: absolute;
    top: 0;
    left: 0;
}

.submit{
    font-size: 10px;   
    margin-top: 16px;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #fbfb8b;
    font-family: "Comic Sans MS";
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;

}

.submit:hover{
    background-color: #bdbd68;
}

#removex{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    cursor: pointer;
}

.meme:hover #removex {
    display: block;
}